.top-header {
  padding-top: 7.5em;
}

.no-decoration {
  text-decoration: none;
  color: black;
}

.no-decoration:visited {
  text-decoration: none;
  color: black;
}

.no-decoration:hover {
  text-decoration: none;
  color: rgb(21, 202, 226);
  transition: 400ms;
}

.avatar {
  width: 50%;
}

.chat-list>li {
  padding-bottom: 2em;
  padding-top: 2em;
  border: 2px solid black;
}

.chat-list>li>img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.chat-history {
  padding-bottom: 5em;
}

.chat-button {
  cursor: pointer;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.name {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.chat-img {
  height: 3em;
}