/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
  background-color: #FFC017;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}
.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}

.top-header {
    padding-top: 10em;
}

.nav-color {
  background: #00cfde; 
}

.no-decoration {
  text-decoration: none;
  color: black;
}

.no-decoration:visited {
  text-decoration: none;
  color: black;
}

.no-decoration:hover{
  text-decoration: none;
  color: rgb(21, 202, 226);
  transition: 400ms;
}

.avatar {
  width: 50%;
}

.chat-list > li {
  padding-bottom: 2em;
  padding-top: 2em;
  border: 2px solid black;
}

.chat-list > li > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* .chat-list > li > div > p {
} */

.chat-history {
  padding-bottom: 5em;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.name {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}