body.dark { 
    background:  #000; 
    color: white; 
}

.card {
    /* background: #424242 */
    background:  #222; 
    color: white; 
}

.form-control {
        /* background: #424242 */
        background:  #222; 
        color: white; 
}

.input-group {
    background:  #222; 
}