body.dark { 
    background:  #222; 
    color: white; 
}

.card {
    /* background: #424242 */
    background:  #212121; 
    color: white; 
}

.form-control {
        /* background: #424242 */
        background:  #212121; 
        color: white; 
}
